yarl==1.20.0
setuptools==78.1.1
charset-normalizer==3.4.2
sympy==1.14.0
Jinja2==3.1.6
pydantic_core==2.33.2
huggingface-hub==0.30.2
gitdb==4.0.12
elasticsearch==7.9.1
multiprocess==0.70.16
joblib==1.5.0
async-timeout==5.0.1
annotated-types==0.7.0
networkx==3.2.1
datasets==2.21.0
markdown-it-py==3.0.0
rich==14.0.0
accelerate==1.6.0
aiosignal==1.3.2
pillow==11.2.1
torchaudio==2.1.2+cu121
six==1.17.0
aiohttp==3.11.18
faiss-cpu==1.11.0
tqdm==4.67.1
pyarrow==20.0.0
fsspec==2024.6.1
torch==2.1.2+cu121
tzdata==2025.2
typing_extensions==4.13.2
sentry-sdk==2.27.0
torchvision==0.16.2+cu121
filelock==3.18.0
mdurl==0.1.2
protobuf==6.30.2
docker-pycreds==0.4.0
typing-inspection==0.4.0
pydantic==2.11.4
sentence-transformers==3.5.0.dev0
polars==1.29.0
pip==25.1.1
click==8.1.8
platformdirs==4.3.7
urllib3==2.4.0
eval_type_backport==0.2.2
idna==3.10
MarkupSafe==3.0.2
hf-xet==1.1.0
pytrec_eval==0.5
packaging==25.0
psutil==7.0.0
pytrec_eval-terrier==0.5.7
dill==0.3.8
tokenizers==0.21.1
certifi==2025.4.26
Pygments==2.19.1
transformers==4.51.3
wheel==0.45.1
setproctitle==1.3.6
requests==2.32.3
mpmath==1.3.0
multidict==6.4.3
pandas==2.2.3
safetensors==0.5.3
regex==2024.11.6
triton==2.1.0
scikit-learn==1.6.1
scipy==1.13.1
smmap==5.0.2
attrs==25.3.0
pytz==2025.2
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
numpy==1.26.4
wandb==0.19.11
GitPython==3.1.44
propcache==0.3.1
mteb==1.34.26
xxhash==3.5.0
PyYAML==6.0.2
threadpoolctl==3.6.0
frozenlist==1.6.0
beir==2.0.0
